{% extends 'base.html.twig' %}

{% block body %}
	<main class="container">
		<section class="row">
			<div class="col-12">
				<h1>E-commerce</h1>
				<p>Welcome on our shop</p>
			</div>

			{% for category in categories %}
				{% if category.parent == null %}
					<div class="col-12 mb-3">
						<h2>{{ category.name }}</h2>
					</div>
				{% else %}
					<div class="col-4 mb-3">
						<div class="card h-100">
							<div class="card-body">
								<h3 class="card-title">{{category.name}}</h3>
								<a href="{{path('categories_list', {slug: category.slug})}}" class="btn btn-primary">Show products</a>
							</div>
						</div>
						<a href="#"></a>
					</div>
				{% endif %}
			{% endfor %}
		</section>
	</main>
{% endblock %}
