{% extends "base.html.twig" %}

{% block title %}Details of
	{{ product.name }}
{% endblock %}

{% block body %}
	<main class="container">
		<section class="row">
			<div class="col-12">
				<h1>{{ product.name }}</h1>
			</div>
			<div class="col-6">
				<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
					<div class="carousel-indicators">
						{% for item in 1..product.images|length %}
							<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ item - 1 }}" {{ (loop.first) ? 'class="active" aria-current="true"' : '' }} aria-label="Slide {{ item }}"></button>
						{% endfor %}
					</div>
					<div class="carousel-inner">
						{% for image in product.images %}
							<div class="carousel-item {{ (loop.first ) ? 'active' : '' }}">
								<img src="{{ asset('assets/uploads/') ~ image.name }}" class="d-block w-100" alt="{{ product.name }}">
							</div>
						{% endfor %}
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
			<div class="col-6">
				<p>{{product.description}}</p>
				<p>Catégorie :
					{{ product.categories.name }}</p>
				<p>Prix :
					{{ product.price / 100 }}€</p>
				{% if product.stock > 0 %}
					<a href="#" class="btn btn-success">Add to cart</a>
				{% else %}
					<p class="text-danger">Temporarily out of stock
					</p>
				{% endif %}
			</div>
		</section>
	</main>
{% endblock %}
