{% extends 'base.html.twig' %}

{% block title %}List of products in the category
	{{category.name}}
{% endblock %}

{% block body %}
	<main class="container">
		<section class="row">
			<div class="col-12">
				<h1>List of products in the category
					{{category.name}}</h1>
			</div>
			{% for product in products %}
				<div class="col-4">
					<article class="card h-100 mt-3">
						<div class="card-body">
							<h2 class="card-title">{{ product.name }}</h2>
							<p class="catd-text">{{product.description}}</p>
							<a href="{{path('products_details', {slug: product.slug })}}" class="btn btn-primary">Show details</a>
						</div>
					</article>
				</div>
			{% endfor %}
		</section>
	</main>
{% endblock %}
